 {% extends 'header.html'%}
 {% load static%}
 {% block content %}
 
 <div class="main-panel">
        <!-- BEGIN : Main Content-->
        <div class="main-content">
          <div class="content-wrapper"><!-- Form actions layout section start -->
<section id="form-action-layouts">
  <div class="row">
    <div class="col-sm-12">
      <div class="content-header">Event Gallery</div>
    </div>
  </div>


  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <div class="alert alert-info" role="alert">
            <strong> Edit Event Gallery</strong>
          </div>
        </div>
        {% if msg %}
        <p>{{msg}}</p>
        {% endif %}
        <div class="card-body">
          <div class="px-3">
            <form class="form" action="{% url 'event-gallery'%}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-body">
                <div class="row">
                  <div class="form-group col-12 mb-2">
                    <label for="eventInput1">Event Name</label>
                    <input type="text" id="eventInput1" class="form-control" placeholder="name" name="name" value="{{uid.name}}">
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-12 mb-2">
                    <label for="eventInput2">Event Image </label>
                    <img src="{{uid.image.url}}" alt="image" style="height: 50px;width: 50px;">
                    <input type="file" id="eventInput2" class="form-control" placeholder="title" name="image">
                  </div>
                </div>
              <div class="form-actions center">
                <button type="submit" class="btn btn-raised btn-primary">
                  <i class="fa fa-check-square-o"></i> Save
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- // Form actions layout section end -->

          </div>
        </div>
        <br>
        <!-- END : End Main Content-->
{% endblock %}